@use "styles/helpers" as *;

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.switch_wrap {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-out;
    p {
        font-family: "mono";
        font-weight: 700;
        font-size: 1rem;
        margin-right: 16px;
    }
    &:hover {
        cursor: pointer;
        color: var(--hover-switch);
        svg {
            path {
                fill: var(--hover-switch);
            }
            g {
                fill: var(--hover-switch);
            }
        }
    }
}
.btn_switch {
    background: transparent;
    border: none;
    &:hover {
        cursor: pointer;
    }
}
