@use "styles/helpers" as *;

.search_box {
    display: flex;
    align-items: center;
    background-color: var(--lighter-background);
    margin-bottom: 16px;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0px 16px 30px -10px hsla(227, 46%, 51%, 0.2);
    position: relative;
    &:hover {
        cursor: pointer;
    }
}
.input_search {
    width: 65%;
    font-family: "mono";
    font-weight: 400;
    font-size: 1rem;
    color: var(--input);
    text-indent: 9px;
    border: none;
    background-color: var(--lighter-background);
    &::placeholder {
        color: var(--text);
    }
    &:focus {
        outline: none;
    }

    @include breakpoint($medium) {
        font-size: 1.38rem;
    }
}
.error_message {
    color: var(--red);
    font-family: "mono";
    font-weight: 700;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    left: 50px;
    @include breakpoint($medium) {
        font-size: 1.15rem;
        position: initial;
    }
}
.btn_search {
    border: none;
    font-family: "mono";
    font-weight: 700;
    font-size: 1.08rem;
    color: var(--white);
    background-color: var(--azure);
    padding: 12px 16px;
    border-radius: 10px;
    width: 85px;
    margin-left: auto;
    transition: all 0.3s ease-out;
    @include breakpoint($medium) {
        padding: 12px 24px;
        width: 106px;
    }
    &:hover {
        background-color: var(--light-azure);
        cursor: pointer;
    }
}

.user_box {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--lighter-background);
    border-radius: 15px;
    padding: 32px 24px 48px;
    box-shadow: 0px 16px 30px -10px hsla(227, 46%, 51%, 0.2);

    @include breakpoint($medium) {
        padding: 40px;
    }
    @include breakpoint($large) {
        padding: 48px;
    }
    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        @include breakpoint($medium) {
            width: 117px;
            height: 117px;
        }
        @include breakpoint($large) {
            position: absolute;
            left: 48px;
        }
    }
}
.user_box_wrap {
    @include breakpoint($large) {
        width: 78%;
        margin-left: auto;
    }
}
.user_info_wrap {
    display: flex;
}
.user_info {
    font-family: "mono";
    font-weight: 400;
    font-size: 1rem;
    margin-left: 20px;

    @include breakpoint($medium) {
        font-size: 1.15rem;
        margin-left: 40px;
    }
    @include breakpoint($large) {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        margin-left: 0;
    }
}
.user_login {
    color: var(--azure);
    @include breakpoint($medium) {
        font-size: 1.23rem;
    }
}
.user_join {
    color: var(--join-text);
    @include breakpoint($large) {
        position: absolute;
        right: 0;
        top: 8px;
    }
}

.user_bio {
    font-family: "mono";
    font-weight: 400;
    font-size: 1rem;
    margin-top: 33px;
    margin-bottom: 23px;

    @include breakpoint($medium) {
        font-size: 1.15rem;
        margin-top: 24px;
        margin-bottom: 32px;
    }
    @include breakpoint($large) {
        margin: 20px 0 32px;
    }
}
.user_no_bio {
    opacity: 0.75;
}
.user_gitinfo {
    background-color: var(--main-background);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px;
    padding: 18px 15px;
    @include breakpoint($medium) {
        padding: 15px 32px;
    }
}

.git_info {
    p {
        color: var(--darker-test);
        font-family: "mono";
        font-weight: 700;
        font-size: 1.23rem;
        @include breakpoint($medium) {
            font-size: 1.69rem;
        }
    }
}
.user_detail {
    margin-top: 24px;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 16px;
    @include breakpoint($medium) {
        margin-top: 30px;

        grid-template-columns: repeat(2, 1fr);
        row-gap: 0;
        column-gap: 35px;
    }
    @include breakpoint($large) {
        column-gap: 30px;
    }
}
.detail_wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 16px;
}
