@import "./styles/variables.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "mono";
    src: url("../public/fonts/SpaceMono-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "mono";
    src: url("../public/fonts/SpaceMono-Regular.ttf");
    font-weight: 400;
}

:root {
    --Logo: hsla(220, 18%, 16%, 1);
    --DarkerTest: hsla(217, 21%, 21%, 1);
    --Azure: hsla(212, 100%, 50%, 1);
    --LightAzure: hsla(212, 100%, 69%, 1);
    --Text: hsla(217, 35%, 45%, 1);
    --JoinText: hsla(217, 20%, 51%, 1);
    --MainBackground: hsla(226, 100%, 98%, 1);
    --LighterBackground: hsla(0, 0%, 100%, 1);
    --White: hsla(0, 0%, 100%, 1);
    --Icon: #4b6a9b;
    --HoverSwitch: hsla(220, 18%, 16%, 1);
    --Red: hsla(0, 91%, 62%, 1);
    --Input: hsla(220, 18%, 16%, 1);
}

[data-theme="dark"] {
    --Logo: hsla(0, 0%, 100%, 1);
    --DarkerTest: hsla(0, 0%, 100%, 1);
    --Text: hsla(0, 0%, 100%, 1);
    --JoinText: hsla(0, 0%, 100%, 1);
    --MainBackground: hsla(220, 40%, 13%, 1);
    --LighterBackground: hsla(222, 41%, 20%, 1);
    --Icon: hsla(0, 0%, 100%, 1);
    --HoverSwitch: hsla(222, 44%, 70%, 1);
    --Input: hsla(0, 0%, 100%, 1);
}
html {
    font-size: 13px;
}

body {
    color: var(--Text);
    border-color: var(--MainBackground);
}
h1,
h2 {
    font-family: "mono";
    font-weight: 700;
    color: var(--DarkerTest);
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.23rem;
    @media screen and (min-width: $tablet) {
        font-size: 2rem;
    }
}
h3 {
    font-family: "mono";
    font-weight: 400;
    font-size: 0.85rem;
    @media screen and (min-width: $tablet) {
        font-size: 1rem;
    }
}
