@use "styles/helpers" as *;

.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 30px 24px 80px;
    background-color: var(--main-background);
    @include breakpoint($medium) {
        padding: 140px 97px;
    }
}

.main {
    width: 100%;
    max-width: 400px;
    background-color: var(--main-background);

    @include breakpoint($medium) {
        max-width: 570px;
    }
    @include breakpoint($large) {
        max-width: 730px;
    }
}
